body {
  margin: 0px;
  padding: 0px;
  background-image: url(image/COVERPAGE2.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 95vh;
  background-position: center;
  background-color: white;
  z-index: 4;
}

.navbar {
  background-color: rgba(15, 15, 15, 0.93);
  text-decoration: none;
  color: white;
  width: 100%;
  height: 5%;
  line-height: 5px;
  padding: 3px 6px;
  text-align: center;
  position: relative;
  top: 0px;
  z-index: 2;
  font-weight: bold;
  font-style: normal;
  font-family: Arial;
}
#xyz {
  margin-left: 260px;
}
.navbar li {
  list-style: none;
  display: inline;
  margin-left: 20px;
  margin-right: 40px;
  text-align: center;
  padding: 0px 30px 0px 30px;
}
.navbar a {
  text-decoration: none;
  color: white;
}

.abc {
  /* width: 100%; */
  height: 0px;
  display: flex;
  align-items: left;
  padding: 0px 12px;
  margin: 3px 3px 3px 85px;
  position: fixed;
  z-index: 3;
}

.navbarbottom li {
  list-style: none;
  display: inline;
  margin-left: 95px;
  margin-right: 95px;
  text-align: center;
  padding: 0px;
}

.navbarbottom {
  background-color: rgba(15, 15, 15, 0.93);
  text-decoration: none;
  color: blanchedalmond;
  width: 100%;
  height: 5%;
  padding: 3px 6px;
  margin: 0px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  line-height: 5%;
  font-weight: bold;
  font-style: normal;
  font-family: Arial;
  z-index: 2;
}

#textbox {
  border-radius: 3%;
  border-color: rgb(246, 243, 243);
  margin-left: 125px;
}

.navbarbottom a {
  text-decoration: none;
  color: white;
}

.additional {
  background-color: rgba(231, 231, 239, 0.91);
  width: 1475px;
  line-height: 30px;
  position: fixed;
  top: 500px;
  height: 60px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px;
  margin-right: 0px;
  top: calc(100% - 100px);
  bottom: 0px;
  z-index: 1;
}
